@import 'Theme.scss';

#root
{
  height: 100%;
}

.App
{
  height: 100%;

  background-color: black;
  font-family: 'Roboto';
}

.ClockScreen
{
  display: grid;
  grid-template:
    "lb ." 1fr
    "lb f" auto
    "lb ." 2fr
    / auto 1fr;
  width: 100%;
  min-height: 100%;

  border-radius: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .05);
  user-select: none;

  @mixin objectShadow
  {
    filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, .05));
  }

  @mixin roundedLabel
  {
    border-radius: .45rem;

    @include objectShadow();
  }

  .focus
  {
    grid-area: f;

    display: flex;
    align-items: center;
    justify-content: center;


    .DateTime
    {
      display: grid;
      grid-template-areas: 
        "time ampm"
        "date qw";

      .Time
      {
        display: flex;
        align-items: center;

        font-size: 14vw;
      }

      .ampm
      {
        writing-mode: vertical-lr;
        font-size: 7.5vw;
        font-weight: bold;
        text-align: center;
      }

      .date
      {
        display: flex;
        align-items: center;
        margin-left: .75vw;
        
        font-size: 3vw;

        .weekDay
        {
          padding: 0 13px;

          @include roundedLabel();
        }

        .monthDay
        {
          font-weight: bold;

          .suffix
          {
            font-variant: super;
          }
        }
      }

      .season   
      {
        display: flex;
        align-items: center;
        padding-left: 1.75vw;

        .seasonIcon
        {
          width: 4vw;

          @include objectShadow();

          &.hidden
          {
            position: absolute;
            z-index: -1;
            
            visibility: hidden;
          }
        }
      }
    }
  }

  .YearProgress
  {
    grid-area: lb;
    display: flex;
    margin-left: Max(8px, .75vw);

    .monthsCol
    {
      display: flex;
      flex-direction: column-reverse;
      width: 2.75vw;
      min-width: fit-content;

      .quarter
      {
        display: flex;
        flex: 1;
        flex-direction: column-reverse;

        &:not(:last-child)
        {
          border-top: 1px solid;
        }

        .month
        {
          flex: 1;
          box-sizing: content-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 5px 0;
          min-height: 1ch;
          padding: Max(8px, 1vmin);

          @include roundedLabel();

          .textContainer
          {
            flex: 1 1 0;
            max-height: min-content;
            overflow: hidden;

            writing-mode: vertical-lr;
            text-overflow: clip;
            @include objectShadow();
          }
        }
      }      
    }

    .monthProgressCol
    {
      width: 0;

      .monthProgress
      {
        display: flex;
        margin-left: 6px;

        font-size: 1.75rem;

        .marker
        {
          display: flex;
          align-items: center;

          .markerIcon
          {
            width: .8em;

            @include objectShadow();
          }
        }

        .label
        {          
          writing-mode: vertical-lr;
          white-space: nowrap;

          .unit
          {
            font-size: .8em;
          }

          .value
          {
            font-weight: bold;
          }
        }
      }
    }
  }
}