/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin ClockScreenTheme($season, $tertial, $main-color)
{
  .ClockScreen.season-#{$season}.season-tertial-#{$tertial}.day
  {
    --transition-color-time: 20s;
    --transition-background-time: 30s;

    color: tint($main-color, 80%);
    background-color: $main-color;
    
    transition: background-color var(--transition-background-time);

    .DateTime
    {
      .time
      {
        transition: color var(--transition-color-time);
      }

      .ampm
      {
        color: tint($main-color, 35%);

        transition: color var(--transition-color-time);
      }

      .date
      {
        & > :not(.weekDay)
        {
          transition: color var(--transition-color-time);
        }

        .weekDay
        {
          color: $main-color;
          background-color: tint($main-color, 80%);

          transition: color var(--transition-color-time), background-color var(--transition-background-time);
        }
      }

      .season .seasonIcon
      {
        fill: tint($main-color, 35%);

        transition: fill var(--transition-color-time);
      }
    }

    .YearProgress
    {
      .monthsCol
      {
        .quarter
        {
          border-color: tint($main-color, 35%);

          transition: border-color var(--transition-color-time);

          .month
          {
            color: tint($main-color, 80%);

            transition: color var(--transition-color-time), background-color var(--transition-background-time);
            
            &.present
            {
              color: $main-color;
              background-color: tint($main-color, 80%);
            }

            &.past
            {
              color: tint($main-color, 90%);
            }
          }
        }
      }

      .monthProgressCol
      {
        .monthProgress
        {
          .marker
          {
            fill: tint($main-color, 35%);

            transition: fill var(--transition-color-time);
          }

          .label
          {
            transition: color var(--transition-color-time);
          }
        }
      }
    }
  }
}

@include ClockScreenTheme('winter', 1, #2b90e2);
@include ClockScreenTheme('winter', 2, #30a1e2);
@include ClockScreenTheme('winter', 3, #21bceb);
@include ClockScreenTheme('spring', 1, #43be6a);
@include ClockScreenTheme('spring', 2, #22d45a);
@include ClockScreenTheme('spring', 3, #6cd33c);
@include ClockScreenTheme('summer', 1, #f5d629);
@include ClockScreenTheme('summer', 2, #f3ca11);
@include ClockScreenTheme('summer', 3, #f3ab11);
@include ClockScreenTheme('fall', 1, #d45f1c);
@include ClockScreenTheme('fall', 2, #d4471c);
@include ClockScreenTheme('fall', 3, #b82815);

.ClockScreen.night
{
  --primary-1: #444;
  --primary-2: #0e0e0e;
  --secondary-1: #272727;
  --secondary-2: var(--secondary-1);
}

.ClockScreen.evening
{
  --primary-1: #919191;
  --primary-2: #191919;
  --secondary-1: #595959;
  --secondary-2: #303030;
}

.ClockScreen.evening,
.ClockScreen.night
{
  --transition-color-time: 45s;
  --transition-background-time: 60s;

  color: var(--primary-1);
  background-color: var(--primary-2);

  transition: background-color 60s;

  .DateTime
  {
    .time
    {
      transition: color var(--transition-color-time);
    }

    .ampm
    {
      color: var(--secondary-1);

      transition: color var(--transition-color-time);
    }

    .date
    {
      & > :not(.weekDay)
      {
        transition: color var(--transition-color-time);
      }

      .weekDay
      {
        background-color: var(--secondary-2);

        transition: color var(--transition-color-time), background-color var(--transition-background-time);
      }
    }

    .season .seasonIcon
    {
      fill: var(--secondary-1);

      transition: fill var(--transition-color-time);
    }
  }

  .YearProgress
  {
    .monthsCol
    {
      .quarter
      {
        border-color: var(--primary-1);

        transition: border-color var(--transition-color-time);

        .month
        {
          transition: color var(--transition-color-time), background-color var(--transition-background-time);

          &.present
          {
            background-color: var(--secondary-2);
          }
        }
      }
    }

    .monthProgressCol
    {
      .monthProgress
      {
        .marker
        {
          fill: var(--secondary-2);

          transition: fill var(--transition-color-time);
        }

        .label
        {
          transition: color var(--transition-color-time);
        }
      }
    }
  }
}